<div class="card">
  <div class="card-body">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</div>
<%= link_to 'Ask Question', '/ask' %>
